{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}
{% block page_title %}Thread list{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="form-container mb-3">
        <p class="d-inline-flex gap-1">
            <button class="btn btn-sm btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-form-container"
                    aria-expanded="false" aria-controls="collapse-form-container">
                Add new thread
            </button>
        </p>
        <div class="collapse" id="collapse-form-container">
            <div class="card card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
    <div class="thread-list-container">
        {% for thread in threads %}
            {% include 'parts/post-row.html.twig' with {last: loop.last, first: loop.first, thread: thread} %}
        {% endfor %}
    </div>
{% endblock %}
