{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="form-container">
        {{ form(form) }}
    </div>
    {% for post in posts %}
        <div class="post border {% if loop.last %}border-0{% else %}border-start-0 border-end-0 border-top-0{% endif %}
                    pt-3 pb-3">
            <span class="fw-semibold">{{ post.createDate | date('Y-m-d H:i:s') }}</span><br>
            <span class="text-muted">{{ post.content | raw }}</span>
        </div>
    {% endfor %}
{% endblock %}