@import "~bootstrap";
@import "~@fortawesome/fontawesome-free";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.navbar-title
{
  font-family: "Silkscreen", sans-serif;
  .title-pt2
  {
    color: #ff899e;
  }
}

.post-image-container
{
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;

  &.img-blurred
  {

    img
    {
      filter: blur(15px);
    }
  }

  img
  {
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

